.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.products_con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.pro_detail {
  display: flex;
  flex-direction: column;
}
